src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8983469-44f7-4b9d-86de-fc55815b0df8" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="9639419d-c743-4be8-8992-d3c88f574175" file="appln.properties" />
	<flow name="sampleFlow" doc:id="16c21407-4a66-43de-9a34-e17474f5c0b4" >
		<http:listener doc:name="Listener" doc:id="aae39b14-c17c-4f50-a929-00da7b9476ee" config-ref="HTTP_Listener_config" path="/helloworld"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="02095440-2a33-47eb-aeed-c0c2c11027aa" />
	</flow>
</mule>
